# 03-1 나만의 데이터 만들기

In [1]:
#시리즈 만들기
import pandas as pd
s = pd.Series(['banana', 42])
print(s)

s = pd.Series(['Wes McKinney', 'Creator of Pandas'])
print(s)

0    banana
1        42
dtype: object
0         Wes McKinney
1    Creator of Pandas
dtype: object

In [2]:
#데이터프레임 만들기
scientists = pd.DataFrame (
    {'Name' : ['Rosaline Franklin', 'William Gosset'],    #딕셔너리를 통해 생성
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age' : [37, 61]}
)
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [3]:
#데이터프레임의 인덱스 지정 및 열 순서 지정
scientists = pd.DataFrame (
    data = {'Occupation' : ['Chemist', 'Statistician'],    #data에 해당되는 값 지정
            'Born' : ['1920-07-25', '1876-06-13'],
            'Died' : ['1958-04-16', '1937-10-16'],
            'Age' : [37, 61]},
    index = ['Rosaline Franklin', 'William Gosset'],    #인덱스를 숫자 대신 특정 문자로 지정
    columns = ['Occupation', 'Born', 'Age', 'Died']     #열의 순서를 지정
)
print(scientists)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

In [4]:
#딕셔너리의 순서를 유지하며 데이터프레임 만들기
from collections import OrderedDict

scientists = pd.DataFrame (OrderedDict([                 #딕셔너리는 데이터의 순서를 보장하지 않으므로 OrderedDict 클라스를 통해 보장
    ('Name', ['Rosaline Franklin', 'William Gosset']),
    ('Occupation', ['Chemist', 'Statistician']),
    ('Born', ['1920-07-25', '1876-06-13']),
    ('Died', ['1958-04-16', '1937-10-16']),
    ('Age', [37, 61])
])
)
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

# 03-2 시리즈 다루기 - 기초

In [5]:
#데이터프레임에서 시리즈 선택하기
scientists = pd.DataFrame (
    data = {'Occupation' : ['Chemist', 'Statistician'],    #data에 해당되는 값 지정
            'Born' : ['1920-07-25', '1876-06-13'],
            'Died' : ['1958-04-16', '1937-10-16'],
            'Age' : [37, 61]},
    index = ['Rosaline Franklin', 'William Gosset'],    #인덱스를 숫자 대신 특정 문자로 지정
    columns = ['Occupation', 'Born', 'Age', 'Died'])

first_row = scientists.loc['William Gosset']
print(first_row)

Occupation    Statistician
Born            1876-06-13
Age                     61
Died            1937-10-16
Name: William Gosset, dtype: object

In [6]:
#index 속성 사용하기
print(first_row.index)    #각 열에 대한 이름 출력

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

In [7]:
#values 속성 사용하기
print(first_row.values)    #각 열에 대한 내용 출력

['Statistician' '1876-06-13' 61 '1937-10-16']

In [8]:
#keys 메서드 사용하기
print(first_row.keys())   #index 속성과 동일한 결과

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

In [9]:
#index 속성 응용하기
print(first_row.index[0])

Occupation

In [10]:
#시리즈의 mean, min, max, std 메서드 사용하기
age= scientists['Age']
print(age)
print()
print(age.mean())
print(age.min())
print(age.max())
print(age.std())

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

49.0
37
61
16.97056274847714

# 03-3 시리즈 다루기 - 응용

In [11]:
scientists = pd.read_csv('C:/Users/admin/Desktop/데이터 분석을 위한 판다스 입문/doit_pandas-master/data/scientists.csv')
ages = scientists['Age']

In [12]:
#시리즈와 불린 추출
print(ages[ages > ages.mean()])
print(ages > ages.mean())

1    61
2    90
3    66
7    77
Name: Age, dtype: int64
0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [13]:
#불린 추출 응용하기
manual_bool_values = [True, True, False, False, True, True, False, True]
print(ages[manual_bool_values])

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

In [14]:
#벡터와 스칼라로 브로드캐스팅 수행하기
print(ages + ages)
print(ages * ages)
print(ages + 100)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64
0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [15]:
#길이가 서로 다른 벡터를 연산
pd.Series([1000, 2000])
print(ages + pd.Series([1000, 2000]))    #연산을 할 수 없는 인덱스는 NaN으로 출력

0    1037.0
1    2061.0
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
dtype: float64

In [16]:
#sort_index 메서드
rev_ages = ages.sort_index(ascending = False)   #index 내림차순으로 정렬
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

# 03-4 데이터프레임 다루기

In [17]:
#불린 추출하기
print(scientists[scientists['Age'] > scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [18]:
#브로드캐스팅하기
print(scientists * 2)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

# 03-5 시리즈와 데이터프레임의 데이터 처리하기

In [19]:
#열의 자료형 바꾸기
print(scientists['Born'].dtype)
born_datetime = pd.to_datetime(scientists['Born'], format = '%Y-%m-%d')
print(born_datetime)

print(scientists['Died'].dtype)
died_datetime = pd.to_datetime(scientists['Died'], format = '%Y-%m-%d')
print(died_datetime)

object
0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]
object
0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [22]:
#새로운 열 추가하기
scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)
print(scientists)   #born_dt, died_dt라는 열이 추가되었음을 확인

print()

scientists['age_days_dt'] = scientists['died_dt'] - scientists['born_dt']
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt
0 1920-07-25 1958-04-16
1 1876-06-13 1937-10-16
2 1820-05-12 1910-08-13
3 1867-11-07 1934-07-04
4 1907-05-27 1964-04-14
5 1813-03-15 1858-06-16
6 1912-06-23 1954-06-07
7 1777-04-30 1855-02-23

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

In [26]:
#데이터프레임 열 삭제하기
print(scientists.columns)
scientists_dropped = scientists.drop(['Age'], axis = 1)
print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')
Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

# 03-6 데이터 저장하고 불러오기

In [27]:
#csv 파일로 저장하기
scientists.to_csv('C:/Users/admin/Desktop/데이터 분석을 위한 판다스 입문/scientists_df.csv')