# 06-1 누락값이란?

In [3]:
#누락값 확인하기
from numpy import NaN, NAN, nan     #결측값을 뜻하는 단어들

import pandas as pd
print(pd.isnull(NaN))
print(pd.isnull(nan))
print(pd.isnull(NAN))     #isnull을 통해 결측값인지 확인

print(pd.notnull(NaN))
print(pd.notnull(42))
print(pd.notnull('missing'))    #notnull을 통해 결측값이 아닌지 확인

True
True
True
False
True
True

In [10]:
#누락값의 개수 구하기
ebola = pd.read_csv('C:/Users/admin/Desktop/데이터 분석을 위한 판다스 입문/doit_pandas-master/data/country_timeseries.csv')
print(ebola.count())    #count 메서드를 통해 누락값이 아닌 값의 개수 구하기
print()
num_rows = ebola.shape[0]                  #ebola의 전체 행의 수
num_missing = num_rows - ebola.count()     #전체 행의 수에서 각 열별 데이터 수 빼기
print(num_missing)

Date                   122
Day                    122
Cases_Guinea            93
Cases_Liberia           83
Cases_SierraLeone       87
Cases_Nigeria           38
Cases_Senegal           25
Cases_UnitedStates      18
Cases_Spain             16
Cases_Mali              12
Deaths_Guinea           92
Deaths_Liberia          81
Deaths_SierraLeone      87
Deaths_Nigeria          38
Deaths_Senegal          22
Deaths_UnitedStates     18
Deaths_Spain            16
Deaths_Mali             12
dtype: int64

Date                     0
Day                      0
Cases_Guinea            29
Cases_Liberia           39
Cases_SierraLeone       35
Cases_Nigeria           84
Cases_Senegal           97
Cases_UnitedStates     104
Cases_Spain            106
Cases_Mali             110
Deaths_Guinea           30
Deaths_Liberia          41
Deaths_SierraLeone      35
Deaths_Nigeria          84
Deaths_Senegal         100
Deaths_UnitedStates    104
Deaths_Spain           106
Deaths_Mali            110
dtype: int64

In [12]:
#열의 빈도를 통해 누락값의 수 구하기
print(ebola.Cases_Guinea.value_counts(dropna = False).head())    #Cases_Guinea 열의 빈도 수

NaN      29
86.0      3
495.0     2
112.0     2
390.0     2
Name: Cases_Guinea, dtype: int64

In [14]:
#누락값 변경하기
print(ebola.fillna(0).iloc[0:10, 0:5])    #fillna에 0을 대입하면 누락값을 0으로 변경
print()
print(ebola.fillna(method = 'ffill').iloc[0:10, 0:5])    #fillna에 method = 'ffill'을 대입하면 누락값을 누락값 이전 값으로 변경
print()
print(ebola.fillna(method = 'bfill').iloc[0:10, 0:5])    #fillna에 method = 'bfill'을 대입하면 누락값을 누락값 다음 값으로 변경
print()
print(ebola.interpolate().iloc[0:10, 0:5])    #interpolate()을 사용하면 누락값 양쪽에 있는 값을 이용하여 중간값으로 누락값 변경

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            0.0            10030.0
1    1/4/2015  288        2775.0            0.0             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286           0.0         8157.0                0.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0            0.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0            0.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2769.0         8157.0             9722.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0         8018.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0         7977.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0         8166.0            10030.0
1    1/4/2015  288        2775.0         8166.0             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2730.0         8157.0             9633.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0         7977.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0         7862.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2749.5         8157.0             9677.5
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0         7997.5             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0         7919.5             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

In [25]:
#누락값 삭제하기
print(ebola.shape)
ebola_dropna = ebola.dropna()     #누락값이 포함된 행 모두 삭제
print(ebola_dropna.shape)

(122, 18)
(1, 18)

In [28]:
#누락값이 포함된 데이터 계산하기
print(ebola.Cases_Guinea.sum(skipna = True))    #누락값을 무시한채 계산, skipna = False로 하면 결과가 NaN으로 출력

84729.0