# 10-1 간단한 함수 만들기

In [1]:
#제곱 함수와 n제곱 함수 만들기
def my_sq(x):
    return x ** 2

def my_exp(x, n):
    return x ** n

print(my_sq(4))
print(my_exp(2, 4))

16
16

# 10-2 apply 메서드 사용하기

In [5]:
#시리즈와 apply 메서드
import pandas as pd
df = pd.DataFrame({'a': [10, 20, 30], 'b': [20, 30, 40]})
print(df)
print()

sq = df['a'].apply(my_sq)            #df의 a를 인자로 사용하여 my_sq 함수 실행
print(sq)
print()

ex = df['a'].apply(my_exp, n = 3)
print(ex)

    a   b
0  10  20
1  20  30
2  30  40

0    100
1    400
2    900
Name: a, dtype: int64

0     1000
1     8000
2    27000
Name: a, dtype: int64

In [12]:
#데이터프레임과 apply 메서드
df = pd.DataFrame({'a': [10, 20, 30], 'b': [20, 30, 40]})
print(df)
print()

def print_me(x):
    print(x)
    
print(df.apply(print_me, axis = 0))     #axis = 0은 열방향, 1은 행방향
print()

def avg_3_apply(col):
    x = col[0]
    y = col[1]
    z = col[2]
    return (x + y + z) / 3
print(df.apply(avg_3_apply))

    a   b
0  10  20
1  20  30
2  30  40

0    10
1    20
2    30
Name: a, dtype: int64
0    20
1    30
2    40
Name: b, dtype: int64
a    None
b    None
dtype: object

a    20.0
b    30.0
dtype: float64

# 10-3 apply 메서드 사용하기 - 고급

In [18]:
import seaborn as sns
titanic = sns.load_dataset("titanic")
print(titanic.info())
print()

import numpy as np
def count_missing(vec):
    null_vec = pd.isnull(vec)
    null_count = np.sum(null_vec)
    return null_count

cmis_col = titanic.apply(count_missing)    #누락값 개수 세기
print(cmis_col)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB
None

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64